DATABASE_URL=sqlite+aiosqlite:///./app/db/mib.db
JWT_SECRET_KEY=change-this-in-production
JWT_ALGORITHM=HS256
GOOGLE_CLIENT_ID=ssss
GOOGLE_CLIENT_SECRET=xxxx
GOOGLE_REDIRECT_URI=http://localhost:3000/auth/callback/google
KAKAO_REST_API_KEY=your-kakao-rest-api-key
R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_PRIVATE_BUCKET=100to0lab-private
R2_PUBLIC_BUCKET=100to0lab-public
GMAIL_USER=thewoowon@gmail.com
GMAIL_APP_PASSWORD=xxxx xxxx xxxx xxxx
ADMIN_NOTIFY_EMAIL=thewoowon@gmail.com
